*,html,body {
	box-sizing: border-box;
	margin: 0;
}
body {
	background-color: #f5f8ff;
}

/*HEADER SECTION*/
#header {
	display: flex;
	flex-direction: column;
	background-color: #f5f8ff;
	box-shadow: 1px 1px #CCCCCC;
	display: flex;
	height: 80px;
	justify-content: space-evenly;
	letter-spacing: 1px;
	padding: 20px;
	position: fixed;
	place-items: center;
	width: 100%;
	margin: 0;
	z-index: 1;
	overflow: hidden;
}
.main-header {
	display: flex;
	height: 80px;
	justify-content: space-between;
	letter-spacing: 1px;
	padding: 20px;
	position: fixed;
	place-items: center;
	width: 100%;
	margin: 0;
	z-index: 1;
	overflow: hidden;
}
.logo {
    color: #00005B;
    display: flex;
	font-family: system-ui;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 0px;
    place-items: center;
    gap: 5px;
}
.logo img{
	height: 27px;
	width: 27px;
	fill: #00005B;
}
.logo span {
	color: red;
}
.nav-container {
	display: flex;
	position: absolute;
	left: 25%;
	justify-content: space-between;
    gap: 40px;
    text-transform: uppercase;
}
.nav-cont{
	color: #00005B;
	text-decoration: none;
	font-family: system-ui;
    font-size: 12px;
    font-weight: 500;
}
.nav-cont:hover {
	opacity: 0.7;
	font-size: 13px;
}
.nav-bar-icons {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	padding: auto;
}
.nav-icons {
	height: 15px;
	width: 15px;
	fill: red;
}
.nav-icons:hover{
	border-radius: 50%;
	background-color: #CCCCCC;
	outline: 8px solid #CCCCCC;
}

#nav-icons span {
	font-size: 10px; 
	background-color: red;
	outline: 2px solid red;
	border-radius: 50%;
}
.nav-cont-mobile {
	display: flex;
	opacity: 0;
	justify-content: space-between;
    gap: 40px;
    text-transform: uppercase;
}

/* END OF HEADER SECTION*/

/*SLIDER*/

#slider {
	background-image: url(../images/slider_2.jpg);
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 50px;
	height: 100%;
	gap: 10px;
	position: relative;
	z-index: 0;
}
#slider:hover {
	background-image: url(../images/slider_1.jpg);
}

.easter-collections {
	text-transform: uppercase;
	font-family: system-ui;
	font-weight: 500;
	margin-top: 20vh;
}
.discount-info {
	font-family: system-ui;
	font-size: 4rem;
	width: 50vw;
	word-wrap: break-word;
}
.shop-now {
	background-color: red;
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-family: system-ui;
	place-items: center;
	place-content: center;
	height: 40px;
	width: 120px;
}

.shop-now a{
	color: white;
	text-decoration: none;
}
.shop-now:hover {
	transition: width 2s, height 2s, transform 2s;
}

/*END OF SLIDER*/

/*BANNER*/
.banner {
	background-color: #f5f8ff;
	display: flex;
	place-content: center;
	padding: 40px;
	height: 100%;
	gap: 10px;
}
.wom-cloths, .gem-acces, .men-cloths{
	background-image: url(../images/banner_1.jpg);
	background-size: cover;
	height: 250px;
	width: 22vw;
	display: flex;
	place-items: center;
	place-content: center;
}
.gem-acces {
	background-image: url(../images/banner_2.jpg);
}
.men-cloths {
	background-image: url(../images/banner_3.jpg);
}
.wom-cloths span, .gem-acces span, .men-cloths span {
	color: white;
	font-family: system-ui;
	font-weight: 500;
	background-color: #5577BB;
	height: 50px;
	display: flex;
	padding: 10px;
	place-items: center;
}
.wom-cloths a, .gem-acces a, .men-cloths a {
	text-decoration: none;
}
.wom-cloths:hover, .gem-acces:hover, .men-cloths:hover {
	opacity: 0.7;
}
/*END OF BANNER*/

/*NEW ARRIVAL*/
.new-arrival{
	background-color: #f5f8ff;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 40px;
	place-items: center;
}
.new-arrival-bar{
	display: flex;
	place-content: center;
	gap: 40px;
}
#all-cat a {
	color: black;
	font-weight: 500;
	font-family: system-ui;
	text-decoration: none;
}
#all-cat:hover {
	background-color: #6759ff;
	color: white;
	outline: 10px solid #6759ff;
	transition: all 0.01s ease-in;
}
#products {
	display: block;
	margin: 50px;
	gap: 2px;
}
.products {
	display: flex;
	gap: 2px;
}
.product-container {
	outline: solid 8px rgba(0.80, 0.80, 0.80, 0.01);
	height: 55vh;
	padding-bottom: 0;
	width: 17vw;
	background-color: white;
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: flex-end;
	width: 200px;
}
.product-name {
	font: 14px system-ui;
	font-weight: 500;
	padding: 3px;
	word-wrap: break-word;
	text-align: center;
}
.product-price {
	font: 14px system-ui;
	font-weight: 500;
	color: red;
	padding: 3px;
}
.add-to-cart {
	background-color: red;	
	border: solid 6px red;
	width: 100%;
	position: inherit;
	display: flex;
	place-content: center;
	padding: 10px;
	opacity: 0;
	transition: all 0.3s ease-in;
}
.add-to-cart a {
	font: 14px system-ui;
	font-weight: 500;
	text-decoration: none;
	color: white;

}
.product-container:hover .add-to-cart{
	visibility: visible;
	opacity: 0.8;
}
.product-cont1 {
	display: flex;
	gap: 20px;
}
.see-more-container {
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	margin: 10px 40px;
	gap: 10px;
}
.see-more-container h4 {
	font-size: 20px;
	font-family: system-ui;
}
.see-more-icon {
	height: 30px;
	width: 30px;
}

/*END NEW ARRIVAL*/

/* DEAL OF THE WEEK */
#deal-of-the-week {
	background-color: #f5f8ff;
	display: flex;
	justify-content: space-around;
	width: 100%;
	place-content: center;
	place-items: center;
}
.deal-img
.deal-of-the-week{
	display: flex;
	place-items: center;
	place-content: center;
}
.deal-section-title h2{
	display: flex;
	font-family: system-ui;
	font-size: 2.5rem;
	place-content: center;
}
.deal-section-title::after {
	display: block;
	position: relative;
	top: calc(100% + 13px);
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 5px;
	background: #fe4c50;
	content: '';
}
#time-counter {
	display: flex;
	font-family: system-ui;
	justify-content: space-evenly;
	place-items: center;
	margin-top: 60px;
	gap: 1vw;
}
#time-counter li{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #E2E8F0;
	outline: solid 10px #00005B;
}
.timer-num{
	font-size: 40px;
	display: flex;
	place-content: center;
	font-weight: 700;
	margin-top: 10px;
	color: #fe4c50;
}
.timer-unit{
	padding: 7px;
	font-size: 16px;
	font-weight: 500;
	color: #51545f;
	display: flex;
	place-content: center;
}
/* .timer-column {
	display: flex;

} */
.deal-button {
	color: white;
	width: 140px;
	display: flex;
	margin: 10px auto;
}
deal-button:hover {
	background: #2b2b34 !important;
}
.deal-button a{
	background: #1e1e27;
	color: white;
	font-family: system-ui;
	font-weight: 600;
	border-radius: 20px;
	margin: 10px auto;
	padding: 6px 10px;
	width: 110px;
	place-content: center;
	display: flex;
	text-decoration: none;
}

/* END OF DEAL OF THE WEEK */

/* BENEFITS */
#user-benefits {
	background-color: #f5f8ff;
	padding: 5% 10%;
}
.user-benefits {
	background-color: #D4D5F1;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}
.benefits {
	display: flex;
	flex-direction: column;
	gap: 10px;
	place-items: center;
}
.benefits h3 {
	font-size: 15px;
	font-family: system-ui;
	font-weight: 500;
}
.benefits-sub {
	display: flex;
	gap: 5px;
	place-items: center;
}
.benefits-sub img {
	height: 20px;
	width: 20px;
}
.benefits-sub h5 {
	font-size: 12px;
	font-family: system-ui;
	font-weight: 400;
	color: #373737;
}
/* END OF BENEFITS */

/* BLOGS */
#blog {
	background-color: #f5f8ff;
	padding: 1%;
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 40px;
	height: 100%;
}
.blog-label {
	font: 50px system-ui;
}
.blog-label::after {
	display: block;
	position: relative;
	top: calc(100% + 13px);
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 5px;
	background: #fe4c50;
	content: '';
}
.blogs {
	display: flex;
	padding: 0px 12%;
	justify-content: space-between;
}
.blog-cont-1 {
	background-image: url(../images/blog_1.jpg);
}
.blog-cont-2 {
	background-image: url(../images/blog_2.jpg);
}
.blog-cont-3 {
	background-image: url(../images/blog_3.jpg);
	height: 230px;
	width: 30%;
}
.blog-cont-1, .blog-cont-2, .blog-cont-3 {
	height: 230px;
	width: 30%;
	padding: 10px;

}
.new-sample h3 h5 {
	display: hidden;
}
.new-sample:hover {
	background-color: rgba(116, 85, 246, 0.7);
	display: flex;
	flex-direction: column;
	gap: 15px;
	place-items: center;
	padding: 15px;
	place-content: center;
}
.new-sample h3 {
	font-family: system-ui;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
}
.new-sample h5 {
	font-family: system-ui;
	font-weight: 500;
	color: #1e1e27;
	letter-spacing: 1px;
}
.new-sample h5 a {
	color: #D4D5F1;
}
/* END OF BLOGS */

/* NEWSLETTER */
#newsletter {
	display: flex;
	place-items: center;
	justify-content: space-between;
	padding: 20px 90px;
	background-color: #797979;
}
.newsletter {
	display: flex;
	flex-direction: column;
}
.newsletter h3 {
	font: 20px system-ui;
	font-weight: 600;
}
.newsletter h5 {
	font: 12px system-ui;
	font-weight: 400;
}
.newsletter-input {
	height: 40px;
	width: 50%;
} 
.newsletter-input input {
	height: 40px;
	width: 50%;
	padding: 10px;
}
.newsletter-input button {
	background-color: red;
	color: white;
	font-family: system-ui;
	font-weight: 600;
	height: 40px;
	width: 30%;
	border: none;
}
.newsletter-input button:hover {
	background-color: chocolate;
	cursor: pointer;
}
/* END OF NEWSLETTER */

/* FOOTER */
#footer {
	background-color: #f5f8ff;
	padding: 20px 0px;
	display: flex;
	justify-content: space-around;
}
.blog-faq {
	display: flex;
	gap: 20px;
	padding: 10px;
}
.blog-faq h4 {
	font: 13px system-ui;
	font-weight: 400;
}
#social-icons {
	display: flex;
	gap: 15px;
}
.social-icons {
	height: 20px;
	width: 20px;
}
/* FOOTER */









@media screen and (max-width: 800px) {
	efd
	#header {
		padding-top: 0px;
	}
	.main-header {
		display: flex;
		height: 80px;
		justify-content: space-evenly;
		letter-spacing: 1px;
		padding: 20px;
		position: fixed;
		place-items: center;
		width: 100vw;
		margin: 0;
		z-index: 1;
		gap: 0;
		overflow: hidden;
	}
	.logo {
		color: #00005B;
		display: flex;
		font-size: 15px;
		font-weight: 500;
	}
	.logo img{
		height: 25px;
		width: 25px;
	}
	.nav-container {
		display: flex;
		position: absolute;
		justify-content: space-between;
		margin: 0px -50px;
		word-wrap: break-word;
		top: 65%;
		gap: 10px;
		text-transform: uppercase;
	}
	
	.nav-cont{
		color: #00005B;
		text-decoration: none;
		font-family: system-ui;
		font-weight: 500;
		font-size: 9px;
	}
	.nav-cont:hover {
		opacity: 0.7;
		font-size: 13px;
	}
	.nav-bar-icons {
		display: flex;
		justify-content: space-around;
		gap: 20px;
		padding: auto;
	}
	.nav-icons {
		height: 15px;
		width: 15px;
		fill: red;
	}
	.nav-icons:hover{
		border-radius: 50%;
		background-color: #CCCCCC;
		outline: 8px solid #CCCCCC;
	}
	
	#nav-icons span {
		font-size: 10px; 
		background-color: red;
		outline: 2px solid red;
		border-radius: 50%;
	}
	.nav-cont-mobile {
		display: flex;
		margin-top: 50px;
		gap: 10px;
		opacity: 1;
		/* text-transform: uppercase; */
		width: 280px;
	}
	.nav-cont{
		color: #00005B;
		font-size: 9px;
		font-weight: 600;
	}
	
	.easter-collections {
		font-size: 15px;
	}
	.discount-info {
		font-size: 30px;
	}
	.shop-now {
		font-size: 10px;
		height: 30px;
		width: 80px;
	}
	.blogs, .banner {
		display: flex;
		flex-direction: column;
		width: 100%;
		place-items: center;
	}
	.blog-cont-1, .blog-cont-2, .blog-cont-3, .wom-cloths, .gem-acces, .men-cloths {
		width: 220px;
		margin: 10px;
	}
	.new-sample h3 {
		font-size: 15px;
	}
	.blog-label {
		font-size: 25px;
	}
	#products {
		width: 100vw;
		margin: 0;
	}
	.products {
		display: block;
		gap: 20px;
		width: 100%;
	}
	.product-container {
		width: 200px;
		height: 100%;
		object-fit: contain;
	}
	.product-img img {
		max-width: 120px;
	}
	.product-cont1 {
		display: flex;
		flex-direction: column;
		margin: 5px;
		gap: 20px;
		width: 100%;
		place-content: center;
		place-items: center;
	}
	#deal-of-the-week {
		display: flex;
		flex-direction: column;
	}
	.deal-img img {
		width: 100%;
		height: 100%;
	}
	.user-benefits {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border: 2px solid black;
	}
	.benefits h3{
		font-size: 12px;
	}
	.benefits-sub h5{
		font-size: 10px;
		margin: 0px;
	}
	.deal-of-the-week{
		height: 100%;
		width: 100%;
	}
	.deal-section-title h2{
		font-size: 2rem;
		place-items: center;
		margin: 0px 13%;
		text-align: center;
	}
	#time-counter {
		display: flex;
		justify-content: space-evenly;
		place-items: center;
		margin-top: 60px;
	}
	#time-counter li{
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	#time-counter:last-child {
		margin-right: 0px;
	}
	.timer-num{
		font-size: 20px;
		font-weight: 600;
		color: #fe4c50; 
	}
	.timer-unit{
		padding: 0px;
		font-size: 10px;
		font-weight: 500;
	}
	.deal-button {
		display: flex;
		margin: 10px auto;
	}
	.deal-button a{
		font-size: 10px;
		display: flex;
		place-content: center;
	}
	#newsletter {
		display: flex;
		flex-direction: column;
		gap: 10px;
		place-content: center;
		padding: 5% 10%;
	}
	.newsletter-input {
		width: 100%;
	}
	.newsletter-input button {
		font-size: 10px;
	}
	#footer {
		display: flex;
		flex-direction: column;
		place-items: center;
	}
	.blog-faq h4{
		font-size: 10px;
	}
}