@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* coding with nick */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    background-color: #f5f8ff;
}
.back-icon img{
    margin: 20px 20px;
    height: 35px;
    width: 35px;
}
#user-profile {
    margin: 5px;
    display: flex;
    position: relative;
    border: 1px solid #A6A6A6;
    border-radius: 15px;
}
.user-profile-cont-1 {
    border-right: 1px solid #A6A6A6;
    padding: 20px;
    /* border-radius: 20px; */
    width: 30vw;
}
.user-img {
    border-radius: 50%;
    border: 10px solid ;
    border-top-color: #5577BB;
    border-bottom-color: aqua;
    border-left-color: #5577BB;
    border-right-color: aqua;
    outline: 3px solid rgba(166, 166, 166, 0.4);
    display: flex;
    height: 180px;
    width: 180px;
    margin: 0px auto;
}
.bio {
    font-family: system-ui;
    font-weight: 500;
    color: #373737;
    padding: 10px;
}
.quote {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}
.quote h2 {
    margin: 10px auto;
    font-size: 15px;
    font-weight: 600;
}
.quote h4 {
    margin: 5px auto;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}


/* ATM CARD */
.atms {
	display: flex;
	height: 25vh;
	position: relative;
	margin-top: 15px;
	margin-left: 20px;
    place-content: center;
    place-items: center;
}

.atm-design-1{
	background-image: linear-gradient(to right, rgb(20, 150, 196), rgba(190, 20, 185, 1.0));
	height: 100%;
	width: 80%;
	padding: 15px;
	border-radius: 20px;
}

.mas-card-logo {
	height: 60px;
	width: 60px;
}

.card-number {
	color: white;
	word-spacing: 20px;
	font-family: system-ui;
	letter-spacing: 5px;
	margin-top: 10px;
	width: 100%;
}

.card-holder-name{
	display: flex;
	justify-content: space-between;
}

h5{
	color: white;
	font-family: sans-serif;
	margin-top: 10px; 
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 10px;
}
/* ATM CARD */

user-profile-cont-2 {
    display: flex;
    padding: 20px;
    width: 100%;
}
.name-cont {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 30px;
}
.user-name h4{
    font-family: system-ui;
    font-size: 25px;
}
.user-name h6 {
    font-family: system-ui;
    font-size: 12px;
    color: #5577BB;
    font-weight: 600;
}
.customers-rating {
    display: flex;
    place-items: center;
    gap: 20px;
}
.customers-rating img {
    height: 40px;
    width: 40px;
}
.customers-options {
    display: flex;
    gap: 20px;
}
.customers-options h4 {
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid blueviolet;
}
.customers-options h4:hover {
    background-color: #5577BB;
    cursor: pointer;
    color: #f5f8ff;
}

.about-cont {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid #A6A6A6;
}
.about-1 {
    display: flex;
    border-bottom: 3px solid blue;
    place-content: center;
    width: 30%;
    margin: 10px auto;
}
.about-1 img {
    height: 20px;
    width: 20px;
}
#contact-info{
    display: flex;
    flex-direction: column;
}
#contact-info h4{
    font-size: 13px;
    font-weight: 500;
    color: #797979;
    margin: 0px 10px;
}
.contact-info {
    display: flex;
    column-gap: 20px;
}
.contact-info li {
    font-size: 12px;
    list-style: none;
    margin: 20px 10px;
}
.contact-title {
    font-size: 12px;
    font-weight: 500;
    list-style: none;
    margin: 15px 10px;
}


@media screen and (max-width: 800px){
    * {
        overflow-y: scroll;
    }
    .back-icon img{
        margin: 10px;
        height: 15px;
        width: 15px;
    }
    .user-img {
        height: 80px;
        width: 80px;
    }
    .bio {
        font: 10px system-ui;
        font-weight: 300;
        display: flex;
        place-content: center;
        padding: 2px;
    }
    .quote h2 {
        font-size: 13px;
    }
    .quote h4    {
        font-size: 11px;
        text-align: center;
    }
    #user-profile {
        display: flex;
        flex-direction: column;
    }
    .about-1 {
        display: flex;
        place-items: center;
    }
    .about-1 img {
        height: 13px;
        width: 13px;
    }
    .about-1 h4{
        font-size: 5px;
    }
    .customers-options h4{
        padding: 7px;
        font-size: 12px;
    }
    .user-profile-cont-1, .user-profile-cont-2 {
        width: 100%;
    }
    .contact-info li {
        font-size: 8px;
        list-style: none;
        margin: 10px 5px;
        width: 100%;
    }
    .contact-title {
        font-size: 12px;
        font-weight: 500;
        list-style: none;
        margin: 15px 10px;
    }
    .atms {
        display: flex;
        height: 150px;
        width: 80vw;
        margin-top: 15px;
        margin-left: 20px;
        place-content: center;
        place-items: center;
    }
     
    .atm-design-1{
        background-image: linear-gradient(to right, rgb(20, 150, 196), rgba(190, 20, 185, 1.0));
        height: 150px
        width: 200px;
        padding: 8px;
        border-radius: 20px;
    }
}